/* Base styles */
body {
  background-color: #2E2E2E;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

/* Timer Input Fields */
.input-fields input, .input-fields select {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  background-color: #444;
  color: #FFF;
}

/* Timer Display */
.timer-display {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
}

/* Control Buttons */
.control-buttons button {
  background-color: #FF4500;
  color: #FFF;
  border: none;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.control-buttons button:active {
  background-color: #E03E00;
}


.control-buttons button.active {
  background-color: #FF6347;
}


@media (max-width: 600px) {
  .input-fields {
      flex-direction: column;
      align-items: center;
  }

  .input-fields input, .input-fields select {
      width: 80%;
      margin: 5px 0;
  }

  .control-buttons {
      flex-direction: column;
      align-items: center;
  }

  .control-buttons button {
      width: 80%;
      margin: 5px 0;
  }
  .control-buttons button.active {
    background-color: #FF6347;
  }

  .timer-display {
      font-size: 40px;
  }
}